
@font-face {
    font-family: dragon;
    src: url('./fonts/Breathe\ Fire.otf');
}

* {
    margin: 0;
    padding: 0;
}

h1{
    font-size:4em;
    padding-bottom:20px;
    font-family:dragon;
}

.container {
  
   
    display:inline-block;
    align-items: center;
    justify-content: center;
    text-align:center;
}


.leftCtrl{

    /* border: 2px solid green; */
    /* background-image: url('./images/frame_glass.png'); */
    width:100%;
        min-height: 293px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.gamediv1 {
    
    border: 2px solid green;
    /* background-image: url('./images/screen_zero.png'); */
    width: 100%;
    min-height: 293px;
    background-repeat: no-repeat;
    background-size: contain;

    /*grid-row-start: 2; */
}
.gamediv2 {
    border: 2px solid green;
    background-image: url('./images/bg1.png');
    width: 100%;
    min-height: 293px;
    background-repeat: repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
/* z-index:200; */
    /*grid-row-start: 2; */
}

.equipCardDiv {
    
    border: 2px solid green; 
    /* background-image: url('./images/screen_equip.png'); */
    width: 100%;
    min-height: 293px;
    background-repeat: no-repeat;
    background-size: contain;
    display:flex;
    flex-direction: row;

    /*grid-row-start: 2; */
}
#btn-left, #card-btn-left{
position:absolute;
    background-image:url('./images/left.png');
    min-height: 180px;
    min-width: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    left:-2%;
    top:20%;
}


#btn-right, #card-btn-right {
    position:absolute;
        background-image:url('./images/right.png');
      min-height: 180px;
    min-width: 180px;

        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
        left:85%;
        top:20%;
    }



    #hero{

        position:absolute;
        background-image:url('./images/hero.png');
      min-height: 180px;
      min-width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
        left:10%;
        top:20%;
    }
    #enemy1{
        position:absolute;
        background-image:url('./images/enemy1.png');
      min-height: 180px;
      min-width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
        left:70%;
        top:101%;
    }
#btnEquipCards{
    position:absolute;
    background-image:url('./images/btnEquip.png');
  min-height: 180px;
  min-width: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 510;
    left:43%;
    top:20%;

}
#carousel-card-choose{
    left:88%;
    top:10%;
}
#equiped{
    left:40%;
    background-image:url('./images/frame_glass.png');
    width: 50%;
    min-height: 293px;
    background-repeat: no-repeat;
    background-size: cover;
}

.combatDiv {
    
    /* border: 2px solid green; */
    background-image: url('./images/screen_combat.png');
    width: 100%;
    min-height: 293px;
    background-repeat: no-repeat;
    background-size: contain;

    /*grid-row-start: 2; */
}


.rightCtrl{
    
    /* border: 2px solid blue; */
    /* background-image: url('./images/frame_glass.png'); */
    width: 100%;
    min-height: 293px;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.hidden{
    display:none;
}

#about{
    font-size:2em;
    width: 17%;
    min-height: 181px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:url('./images/about.png');
}


#play{
    font-size:2em;
    width: 17%;
    min-height: 181px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:url('./images/play.png');
}